#carrusel a {
    text-decoration: none;
    color: white;
}

h1{
    font-size: 40 px;
    padding: 2%;
}
p{
    padding: 5%;
}

#galeria {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 800px;
    grid-gap: 1rem;
    padding: 3%;
}

h2 {
    font-family: lobster two;
    font-weight: bolder;
    padding-top:3%;
}

img {
    width: 90%;
}

.seccion1 {
    grid-area: 1 / 1 / 3 / 2;
}

.seccion2 {
    grid-area: 3 / 1 / 4 / 2;
}

.seccion3 {
    grid-area: 1 / 2 / 2 / 3;
}

.seccion4 {
    grid-area: 2 / 2 / 4 / 3;
}

.seccion5 {
    grid-area: 1 / 3 / 2 / 5;
}

.seccion6 {
    grid-area: 2 / 3 / 3 / 4;
}

.seccion7 {
    grid-area: 2 / 4 / 3 / 5;
}

.seccion8 {
    grid-area: 3 / 3 / 4 / 5;
}

@media (max-width: 575.98px) {
  #card-body{
      display: none;
  }
  #texto{
      display: grid
  }
  #galeria{
      display: none
  }
  p{
      display:none
  }
}
