.parallax {
    background-image: url("https://images.unsplash.com/photo-1515002246390-7bf7e8f87b54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//--Vista Login--
.login-fondo{
background-image: url("https://images.unsplash.com/photo-1517879288527-682ff596b022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    height: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    background: rgba(0,0,0, .35);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(0, 0, 0,.56);
    color: white;
}

.form-control{
    background: rgb(0, 0, 0,.16)!important;
    border-style: none  !important;
    transition: 0.5s ease-in ;
    box-shadow: none !important;
}

.form-control::placeholder{
    background: rgb(0, 0, 0,.16)!important;
    color: white!important;
    }

.form-control:focus{
     background: none !important;
     outline: none !important;
        }

.ingresar{
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 0 30px rgb(0, 0, 0,.56);
    transition: 0.5s ease-in ;
}

.ingresar:hover{
    color: white;
}

//-- Vista de  la página Adopta --//
#info{
    background-image: url("https://images.pexels.com/photos/169524/pexels-photo-169524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info h1{
    color: #F1F684 ;
}
#info h2{
    color:#32A4B3 ;
}

#info h3{
    color: #BFA770;
}
@media (max-width: 575.98px) {
    .formulario{
        padding-left: 40px;
    }
}


//-- Vista de  la página Registro --//
.Registro{
    background-image: url("https://images.unsplash.com/photo-1478098711619-5ab0b478d6e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    height: 600px;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
//-- Fin  de  la página Registro --//

