#nav-collapse {
    height: 60px;
}

.navbar {
    font-family: Lobster Two;
    font-weight: black;
    font-size: 2rem;
}

#Navbar a {
    text-decoration: none;
    color: white;
}
#usuario a{
    color:#32A4B3;
    font-size: 15px;
}

#texto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#bajada a{
    text-decoration: none;
    color: white;
}

.card-body {
    padding:0 !important;
    
}

#carta-imagenes{
    background: linear-gradient(#1E575E,#096975);
    
}

#carta-imagenes .card{
    
    box-shadow:0 0 30px rgb(0, 0, 0,.56) ;
}