h1{
    font-size: 40 px;
    padding: 2%;
}

h2 {
    font-family: Lobster two;
    font-weight: bolder;
    padding-top:1%;
}


.Registro h1{ color: #BFA770
}
.Registro h2{ 
    color:whitesmoke;
    text-align: center;
}
.Registro h3{
    color: #32A4B3
}
.parallax h2{
    text-align:center;
    color: black
}
.parallax h3{
    text-align: center;
    color:  #32A4B3
}
.parallax h4{
    text-align: center;
    color:  #32A4B3
}
.parallax p{
    width: 500px;
    color: #0D4268;
    text-align: center;
}
