.header{
background-color: $eerie-black;
color: $white;
font-style: $Roboto;
font-size: $light;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-image:url(../img/post-image.jpg);
height: 1000px;
}

 .header i{
  color: #ffffff;
  position: absolute;

}
