// Colores //

//Esquema de grises//
$white: #fff;
$platinium: #e6e7e7;
$lightgray: #d1d1d1;

//Esquema de colores//
$fuzzyguzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;

//Esquemas de colores negros//
$eerie-black: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;

// Tipografías//
$playfair: 'Playfair Display', italic;
$Roboto: 'Roboto', sans-serief;

//Font Weight
$black: 900;
$light: 300;
$regular: 400;

//Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$smarll: 12px;
