//Colores
$brown: #BFA770;
$yellow: #F2F57E;
$blue: #8ED8E1;
$darkblue: #0D4268;

// Tipografías//
$Lobster: 'Lobster Two', cursive;
$Roboto: 'Roboto Condensed', sans-serif;


//Font Weight
$black: 700;
$light: 300;
$regular: 400;

//Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$smarll: 12px;
