body{
  height: 100vh;
  background-color: $white;
  background-image: ("assets/img/post.image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}

section{
  margin-left: 10%;
  margin-right: 10%;
}
