Body{
  margin: 0;
}

img{
  max-width: 100%;
}

body{
  height: 100vh;
  background-color: $white;
  back-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}
