h1{
color: $white;
font-family: $playfair;
font-weight: $black;
text-align: center;
font-style: italic;
font-size: $xx-large;
padding: 25%;
}

h3{
font-family: $playfair;
font-weight: $regular;
color: $eerie-black;
text-align: center;
font-style: italic;
font-size: $x-large;
}

p{
  font-family: $Roboto;
  color: $light;
  text-align: justify;
}

h4{
  font-family: $Roboto;
  font-weight: $light;
  color: $spanishpink;
  font-size: $medium;
  text-align: center;
}
span{
  color: $ruddypink;
  font-family: $Roboto;
}
